 :root {
  /* --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff; */
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
} 
/* Color Palette: Pacific NW
Primary Accent: Vintage Blue #303D57 (Best for dominant branding, large headings, and footer backgrounds) 
Secondary Accent: Heritage Brick Red #c00b1e (Use strictly as an accent (e.g., CTAs, hover effects) for maritime pop.)
Dark Neutral: Ink Black #1c2833 (Ensures high-contrast readability for body copy.)
Base Neutral: Warm Cream #f9f6f0 / #F5F2EB (Keeps the site airy and prevents the cool blues from feeling stark.)
Subtle Neutral: Misty Fog #DCD8CE
Tertiary Accent: Sage Driftwood #849b92 (Ideal for subtle backgrounds, quotes, or secondary link states.)

*/
#root{
  background-color: #F5F2EB;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

header, footer{
  display: flex;
  width: 100vw;
  background-color: #303D57;
  
}
nav{
    font-size: 20px;
    display: flex;
    align-self: center;
    justify-self: center;
    text-align: center;
    text-decoration: none;
    width: 60%;
    justify-content: end;
}

footer{
  justify-content: center;
  align-items: center;
}
footer > nav {
  justify-content: center;
}

ul{
  display: flex;
  text-align: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  text-decoration: none;
  color: #1c2833;
}
ul > li > div {
  display: flex;
  text-align: center;
  align-items: center;
}

body {
  /* width: 1250px; */
  margin: 0;
  max-width: 100%;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #F5F2EB;
  color: #1c2833;
  align-items: center;
}

h1,
h2 {
  color: #1c2833;
  font-family: var(--heading);
  font-weight: 500;
}

h1 {
  font-size: 56px;
  letter-spacing: 2.75px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}
.logo-container{
  color: #f9f6f0;
  letter-spacing: 2.75px;
  width: 20%;
  font-size: 24px;
}
.hero-img{
  width: 1000px;
  height: auto;
  margin: 0;
  padding: 10px;
}
.content-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.lets-shop-button{
  width: 300px;
  max-width: 20%;
  height: 75px;
  border-radius: 15px;
  background-color: #B85D36;
  border: 1px solid black;
  color: #1c2833;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.lets-shop-button:hover{
  outline: 2px solid #E5B254;
}

a{
    color: #f9f6f0;
    text-decoration: none;
}

.cart-item-counter{
  background-color: #849b92;
  max-width: fit-content;
  max-height: fit-content;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  display: flex;
  position: relative;
  font-weight: bold;
  top: -15px;
  right: 0px;
  color: #B85D36;
}